In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [177]:
df = pd.read_csv("MissingDataSet-Noisy-Multiple.csv")

print(df)

   Gender              Race  Birth_Year Marital_Status  Years_on_Internet  \
0       M             White        1972              M                  8
1       M          Hispanic        1981              S                 14
2       F  African American        1977              S                  6
3       F             White        1961              D                  8
4       M             White        1954              M                  2
5       M  African American        1982              D                 15
6       M  African American        1981              D                 11
7       M             White        1977              S                  3
8       F  African American        1969              M                  6
9       M             White        1987              S                 12
10      F          Hispanic        1959              D                 12

    Hours_Per_Day  Preferred_Browser Preferred_Search_Engine Preferred_Email  \
0               1            Firefox                  Google           Yahoo
1               2             Chrome                  Google         Hotmail
2               2            Firefox                   Yahoo           Yahoo
3               6            Firefox                  Google         Hotmail
4               3  Internet Explorer                    Bing         Hotmail
5               4  Internet Explorer                  Google           Yahoo
6               2            Firefox                  Google           Yahoo
7               3  Internet Explorer                   Yahoo           Yahoo
8               2            Firefox                  Google           Gmail
9               1             Safari                   Yahoo           Yahoo
10              5             Chrome                  Google           Gmail

   Read_News Online_Shopping Online_Gaming Facebook Twitter  \
0          Y               N             N        Y       N
1          Y               N             N        Y       N
2          Y               Y           NaN        Y       N
3          N               Y             N        N       Y
4          Y               Y             N        Y       N
5          Y               N             Y        N       N
6         10               Y           765        Y       Y
7          Y             NaN           NaN        Y      99
8          N               Y             N        N       N
9          Y               9             Y        Y       N
10         Y               N             N        Y       N

   Other_Social_Network
0                   NaN
1                  Face
2                    FB
3                Fesbuk
4                   NaN
5                   NaN
6              LinkedIn
7              LinkedIn
8                   NaN
9               MySpace
10              Google+

In [178]:
#cheking missing vallues
print(df.isnull().sum())

Gender                     0
Race                       0
Birth_Year                 0
Marital_Status             0
Years_on_Internet          0
Hours_Per_Day              0
Preferred_Browser          0
Preferred_Search_Engine    0
Preferred_Email            0
Read_News                  0
Online_Shopping            1
Online_Gaming              2
Facebook                   0
Twitter                    0
Other_Social_Network       4
dtype: int64

In [179]:
# Mengganti nilai kosong dengan NaN
df.replace("", np.nan, inplace=True)
df.replace(" ", np.nan, inplace=True)

In [180]:
# Mengonversi kolom boolean ('Y' dan 'N') kembali menjadi 'Y' dan 'N'
boolean_columns = ["Read_News", "Online_Shopping", "Online_Gaming", "Facebook", "Twitter"]
for col in boolean_columns:
    df[col] = df[col].apply(lambda x: 'Y' if x == 'Y' else ('N' if x == 'N' else np.nan))

In [181]:
# Mengatasi nilai tidak konsisten di kolom Twitter
df["Twitter"] = df["Twitter"].replace({"99": np.nan, " ": np.nan})
df["Twitter"].fillna("N", inplace=True)

In [182]:
# Mengatasi nilai numerik di kolom 'Online_Gaming' dan 'Online_Shopping'
df["Online_Gaming"] = df["Online_Gaming"].replace({"765": np.nan})
df["Online_Shopping"] = df["Online_Shopping"].replace({"9": np.nan})

In [183]:
# Mengisi nilai NaN pada kolom boolean dengan 'N'
df[boolean_columns] = df[boolean_columns].fillna('N')

In [184]:
# Normalisasi nama platform sosial di kolom 'Other_Social_Network'
df["Other_Social_Network"] = df["Other_Social_Network"].replace({
    "Face": "Facebook",
    "FB": "Facebook",
    "Fesbuk": "Facebook",
})

In [185]:
# Mengisi missing values pada kolom 'Hours_Per_Day' dengan median
df['Hours_Per_Day'].fillna(df['Hours_Per_Day'].median(), inplace=True)

In [ ]:
# Mencari nilai yang paling banyak digunakan (modus) di kolom 'Other_Social_Network'
most_common_social_network = df["Other_Social_Network"].mode()[0]

# Mengisi nilai NaN di kolom 'Other_Social_Network' dengan nilai modus
df["Other_Social_Network"].fillna(most_common_social_network, inplace=True)

# Menampilkan hasil akhir
print(df["Other_Social_Network"])

In [186]:
# Menampilkan hasil akhir
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   11 non-null     object
 1   Race                     11 non-null     object
 2   Birth_Year               11 non-null     int64
 3   Marital_Status           11 non-null     object
 4   Years_on_Internet        11 non-null     int64
 5   Hours_Per_Day            11 non-null     int64
 6   Preferred_Browser        11 non-null     object
 7   Preferred_Search_Engine  11 non-null     object
 8   Preferred_Email          11 non-null     object
 9   Read_News                11 non-null     object
 10  Online_Shopping          11 non-null     object
 11  Online_Gaming            11 non-null     object
 12  Facebook                 11 non-null     object
 13  Twitter                  11 non-null     object
 14  Other_Social_Network     7 non-null      object
dtypes: int64(3), object(12)
memory usage: 1.4+ KB
None
   Gender              Race  Birth_Year Marital_Status  Years_on_Internet  \
0       M             White        1972              M                  8
1       M          Hispanic        1981              S                 14
2       F  African American        1977              S                  6
3       F             White        1961              D                  8
4       M             White        1954              M                  2
5       M  African American        1982              D                 15
6       M  African American        1981              D                 11
7       M             White        1977              S                  3
8       F  African American        1969              M                  6
9       M             White        1987              S                 12
10      F          Hispanic        1959              D                 12

    Hours_Per_Day  Preferred_Browser Preferred_Search_Engine Preferred_Email  \
0               1            Firefox                  Google           Yahoo
1               2             Chrome                  Google         Hotmail
2               2            Firefox                   Yahoo           Yahoo
3               6            Firefox                  Google         Hotmail
4               3  Internet Explorer                    Bing         Hotmail
5               4  Internet Explorer                  Google           Yahoo
6               2            Firefox                  Google           Yahoo
7               3  Internet Explorer                   Yahoo           Yahoo
8               2            Firefox                  Google           Gmail
9               1             Safari                   Yahoo           Yahoo
10              5             Chrome                  Google           Gmail

   Read_News Online_Shopping Online_Gaming Facebook Twitter  \
0          Y               N             N        Y       N
1          Y               N             N        Y       N
2          Y               Y             N        Y       N
3          N               Y             N        N       Y
4          Y               Y             N        Y       N
5          Y               N             Y        N       N
6          N               Y             N        Y       Y
7          Y               N             N        Y       N
8          N               Y             N        N       N
9          Y               N             Y        Y       N
10         Y               N             N        Y       N

   Other_Social_Network
0                   NaN
1              Facebook
2              Facebook
3              Facebook
4                   NaN
5                   NaN
6              LinkedIn
7              LinkedIn
8                   NaN
9               MySpace
10              Google+